{% extends "base.html" %}

{% block content %}
<a class='title' href=/>Mini Blog</a>
<form method='post'>
  <table>
    <caption class='caption'>Signup</caption>
    <tr>
	  <td class='lable'>
	    <span title='username must be 3 to 20 combinations of numbers, letters or _.-'>
		  User
		</span>
	  </td>
	  <td><input type='text' name='username' value={{username}}></td>
	  <td class='error'>{{error1}}</td>
	</tr>
	<tr>
	  <td class='lable'>
	    <span title='password must be 3 to 20 combinations of numbers, letters or special characters'>
		  Password
		</span>
	  </td>
	  <td><input type='password' name='password'></td>
	  <td class='error'>{{error2}}</td>
	</tr>
	<tr>
	  <td class='lable'>Verify password</td>
	  <td><input type='password' name='verify'></td>
	  <td class='error'>{{error3}}</td>
	</tr>
	<tr>
	  <td class='lable'>Email(optional)</td>
	  <td><input type='text' name='email' value={{email}}></td>
	  <td class='error'>{{error4}}</td>
	</tr>
  </table>
  <input class='submit1' type='submit'>
<form>
<div class='req'>Username Requirment:username must be 3 to 20 combinations of numbers, letters or _.-</div>
<div class='req'>Password Rrquirment:password must be 3 to 20 combinations of numbers, letters or special characters</div>
<br>
<div class='lable1'>Already have an account? <a href="/login"><b>login in</b></a> here!</div>
{% endblock %}
